/* Assigns colors to different highlightjs selectors. */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: var(--cyan);
}

.hljs-keyword {
  color: var(--pink);
}

.hljs,
.hljs-subst {
  color: var(--white);
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
  font-style: italic;
  color: var(--green);
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: var(--yellow);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: var(--blue);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-literal,
.hljs-number {
  color: var(--purple);
}

.hljs-emphasis {
  font-style: italic;
}
