.heading1 {
  color: var(--pink);
}

.heading2 {
  color: var(--orange);
}

.heading3 {
  color: var(--yellow);
}

.heading4 {
  color: var(--green);
}

.heading5 {
  color: var(--blue);
}

.heading6 {
  color: var(--purple);
}

.codeblock {
  /* margin: 1rem 0; */
  position: relative;
}

/* Makes a lighter background and language label behind the codeblock. */
.codeblock::before {
  content: attr(language);
  background-color: var(--black);
  filter: brightness(1.2);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
  color: var(--pink);
  font-weight: 700;
  font-size: 0.8rem;
  text-align: right;
  font-family: "inconsolata", monospace;
}
