/* Contains classes that define CSS variables for different color themes.*/

.contrast {
  --black: #000000;
  --white: #ffffff;
  --pink: #ff1493;
  --red: #ff0000;
  --orange: #ffa500;
  --yellow: #ffff00;
  --green: #00ff00;
  --cyan: #00ffff;
  --blue: #00bfff;
  --purple: #da70d6;
}

.nord {
  --black: #2e3440;
  --white: #eceff4;
  --pink: #e892b2;
  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --cyan: #88c0d0;
  --blue: #5e81ac;
  --purple: #b48ead;
}

.solarized {
  --black: #002b36;
  --white: #fdf6e3;
  --pink: #d33682;
  --red: #dc322f;
  --orange: #cb4b16;
  --yellow: #b58900;
  --green: #859900;
  --cyan: #2aa198;
  --blue: #268bd2;
  --purple: #6c71c4;
}

.dracula {
  --black: #282a36;
  --white: #f8f8f2;
  --pink: #ff79c6;
  --red: #ff5555;
  --orange: #ffad55;
  --yellow: #f1fa8c;
  --green: #50fa7b;
  --cyan: #8be9fd;
  --blue: #4395d4;
  --purple: #9674c8;
}

.gruvbox-dark {
  --black: #282828;
  --white: #ebdbb2;
  --pink: #d3869b;
  --red: #fb4934;
  --orange: #fe8019;
  --yellow: #fabd2f;
  --green: #b8bb26;
  --cyan: #8ec07c;
  --blue: #83a598;
  --purple: #b16286;
}

.brown {
  --black: #493730;
  --white: #faebd7;
  --pink: #fa8072;
  --red: #ff4400;
  --orange: #ff7f50;
  --yellow: #ffd700;
  --green: #9acd32;
  --cyan: #40e0d0;
  --blue: #00bfff;
  --purple: #dda0dd;
}

.blue-hour {
  --black: hsl(212, 41%, 21%);
  --white: hsl(34, 78%, 91%);
  --pink: hsl(343, 61%, 67%);
  --red: hsl(354, 91%, 64%);
  --orange: hsl(16, 90%, 67%);
  --yellow: hsl(40, 84%, 68%);
  --green: hsl(80, 53%, 63%);
  --cyan: hsl(174, 72%, 56%);
  --blue: hsl(195, 100%, 38%);
  --purple: hsl(281, 33%, 52%);
}

/* .test {
  --black: hsl(212, 41%, 21%);
  --white: hsl(34, 78%, 91%);
  --pink: hsl(343, 61%, 67%);
  --red: hsl(354, 91%, 64%);
  --orange: hsl(16, 90%, 67%);
  --yellow: hsl(40, 84%, 68%);
  --green: hsl(80, 53%, 63%);
  --cyan: hsl(174, 72%, 56%);
  --blue: hsl(195, 100%, 38%);
  --purple: hsl(281, 33%, 52%);
} */
