/* Contains classes that define CSS variables for different color themes.*/

.contrast {
  --black: black;
  --white: white;
  --pink: deeppink;
  --red: red;
  --orange: orange;
  --yellow: yellow;
  --green: lime;
  --cyan: cyan;
  --blue: deepskyblue;
  --purple: orchid;
}

.nord {
  --black: #2e3440;
  --white: #eceff4;
  --pink: #e892b2;
  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --cyan: #88c0d0;
  --blue: #5e81ac;
  --purple: #b48ead;
}

.solarized {
  --black: #002b36;
  --white: #fdf6e3;
  --pink: #d33682;
  --red: #dc322f;
  --orange: #cb4b16;
  --yellow: #b58900;
  --green: #859900;
  --cyan: #2aa198;
  --blue: #268bd2;
  --purple: #6c71c4;
}

.dracula {
  --black: #282a36;
  --white: #f8f8f2;
  --pink: #ff79c6;
  --red: #ff5555;
  --orange: #ffad55;
  --yellow: #f1fa8c;
  --green: #50fa7b;
  --cyan: #8be9fd;
  --blue: #4395d4;
  --purple: #9674c8;
}

.gruvbox-dark {
  --black: #282828;
  --white: #ebdbb2;
  --pink: #d3869b;
  --red: #fb4934;
  --orange: #fe8019;
  --yellow: #fabd2f;
  --green: #b8bb26;
  --cyan: #8ec07c;
  --blue: #83a598;
  --purple: #b16286;
}

.brown {
  --black: #493730;
  --white: antiquewhite;
  --pink: salmon;
  --red: orangered;
  --orange: coral;
  --yellow: gold;
  --green: yellowgreen;
  --cyan: turquoise;
  --blue: deepskyblue;
  --purple: plum;
}
